.navbar-container {
    padding: 8px 19px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding: 8px;
    font-size: 24px;
    color: yellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navlinks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.dropdown {
    float: left;

    & .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        margin: 0;
    }

    & .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        z-index: 1;
    
        & a {
            display: block;
            padding: 8px;
        }
    }

    &:hover .dropdown-content {
        display: block;
    }
}